#ignore in files
*.o
*.pyc
*.d
*.so
._*
*__.*
.#*
*.pcm

analysis/macro/main

#ignore output of json parsing
analysis/scripts/list*/
*.list
*.json

#ignore output from limit tools 
analysis/limits/2HDM/*

#ignore files created by batch jobs
analysis/scripts/job*
analysis/scripts/outputjobs*
#ignore data and output plots
*.root
*.png
*.pdf
analysis/macro/data/
analysis/macro/diPhoPlots/
